<!-- cart-item.component.html -->
<div>
  <article class="card">
    <header>
      <h4>{{cartItem.name | uppercase}}</h4>
    </header>
      <p>
        Price: {{cartItem.price | currency:'INR' }}
      </p>
      <p>
        Qty: {{cartItem.quantity}}
      </p>
      <p>
          Total: 
          {{cartItem.quantity * cartItem.price | currency:'INR'}}
        </p>
    <footer>
      <button (click)="remove()">
        X
      </button>
      <button (click)="incr()">
          +1
        </button>
        <button (click)="decr()">
            -1
          </button>
    </footer>
  </article>
</div>